* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}
body {
	font-size: 16px;
	background-color: #fcf5fc;
	display: flex;
	justify-content: center;
}

section {
	display: grid;
	overflow: hidden;
	background-color: white;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1), 0 5px 4px 0px rgba(0, 0, 0, 0.1);
	width: 1000px;
	margin-bottom: 100px;
}

header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: center;
}
header div {
	display: grid;
	align-items: center;
	justify-content: center;
}

header div:nth-child(1) {
	grid-row: 1/3;
	height: 540px;
	background-image: url("https://images.unsplash.com/photo-1615671524701-9c3dde8fdaa0?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-size: cover;
	background-position: center center;
}

header div:nth-child(2) {
	background-color: #9e6d52;
}

header div:nth-child(3) {
	background-color: #0a846e;
}

menu {
	font-family: "Maven Pro", sans-serif;
	overflow: hidden;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

	margin-bottom: 20px;
}

.menulinks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.menulinks a {
	padding: 20px 20px 17px 20px;
	text-transform: uppercase;
	color: #055647;
	text-decoration: none;
	font-weight: 600;
	border-bottom: 3px solid white;
}

.menulinks a:hover {
	color: black;
	border-bottom: 3px solid black;
}

.topinfo {
	padding: 40px;
	line-height: 1.6rem;
}
.infogrid {
	margin-top: 60px;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.topinfo .info {
	align-self: center;
}
.topinfoimage {
	background-color: #0a846e;
	background-image: url("assets/Vectorseedpackage.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 194px;
	border-radius: 1000rem;
	width: 377px;
	aspect-ratio: 1/1;
	float: left;
	margin-right: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topinfoimage2 {
	background-color: #0a846e;
	background-image: url("assets/plant.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 149px;
	border-radius: 1000rem;
	width: 377px;
	aspect-ratio: 1/1;
	float: right;
	margin-left: 60px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.topinfoimage img {
	width: 50%;
}

.topinfo h1 {
	color: #0a846e;
	text-align: center;
	text-transform: uppercase;
	font-family: "Maven Pro", sans-serif;
	font-size: 3rem;
	font-weight: 500;
}

.topinfo h3 {
	font-size: 2rem;
	margin-bottom: 20px;
}

.topinfo p {
	margin-bottom: 20px;
}

.button {
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.35);
	border-radius: 6px;
	background-color: #0a846e;
	padding: 12px 42px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1.2rem;
	color: white;
	text-decoration: none;
}

.btn-showmore {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	text-transform: none;
}

.btn-plantedplants {
	float: left !important;
	text-transform: none !important;
}

.button:hover {
	background-color: black;
}

.topinfo .button {
	float: right;
}

hr {
	display: block;
	width: 30%;
	margin-left: auto;
	margin-right: auto;
	height: 4px;
	color: #055647;
	background: #055647;
}

h2 {
	margin-top: 60px;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 500;
}

.products {
	margin: 40px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.products figure {
	position: relative;
	overflow: hidden;
	box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.products figure h4 {
	width: 100%;

	font-size: 24px;
	font-family: "Lato", sans-serif;
}

.products figure .date {
	align-self: flex-end;
	font-size: 0.9rem;
	justify-self: flex-end;
	margin-bottom: 2px;
	float: right;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
}

.products figure .by {
	font-family: "Lato", sans-serif;
	font-size: 0.9rem;
	align-self: center;
	top: 8px;
	position: relative;
}

.products figure .btn-remove {
	text-transform: uppercase;
	font-weight: 600;
	padding: 4px;
	text-align: center;
	float: right;
	display: block;
	background-color: #b93857;
	color: white;
	border-radius: 8px;
	text-decoration: none;
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	margin-top: 20px;
}

.products figure .btn-remove:hover {
	background-color: black;
}

.products figure .image {
	width: 100%;
	height: 296px;
	overflow: hidden;
	position: relative;
}
.products figure .image img {
	top: 0;
	position: absolute;
	left: 50%;
	height: 296px;
	width: 100%;
	object-fit: cover;
	transform: translateX(-50%);
	transform-origin: left center;
	transition: all 0.2s ease-out;
}

.products figure:hover .image img {
	scale: 1.1;
}

.products figure:hover .info h4 {
	text-decoration: underline;
}

.products figure .image:after {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	content: "";
	background-image: url("assets/plant.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50%;
	transition: opacity 0.2s ease-in;
	opacity: 1;
}

.products figure:hover .image:after {
	opacity: 0;
}

.products figure:hover {
	cursor: pointer;
}

.products figure .info {
	display: grid;
	grid-template-columns: 6fr 4fr;

	padding: 14px;
}

.bottomgrid {
	height: 590px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-image: url("https://images.unsplash.com/photo-1586281010691-f9da4be5b1f7?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
}

.bottomgrid h2 {
	margin-top: 0;
	font-family: "Maven Pro", sans-serif;
	font-size: 64px;
}

.bottomgrid .darken {
	width: 100%;
	color: whitesmoke;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: grid;
	justify-content: center;
	align-items: center;
	position: relative;
}

.bottomgrid .bottom {
	display: grid;

	grid-template-columns: 1fr 1fr;
	background-color: transparent !important;
	position: absolute;
	bottom: 40px;
	width: 100%;
}

.bottomgrid .bottom * {
	background-color: transparent !important;
}

.bottomgrid .telephone {
	margin-left: 20px;
	padding-left: 30px;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	text-align: left !important;
	background-image: url("assets/icon-phone.svg");
	background-repeat: no-repeat;
	background-position: left center;
}

.bottomgrid .mail {
	margin-right: 20px;
	text-align: right;
	padding-right: 36px;
	font-family: "Maven Pro", sans-serif;
	font-size: 20px;
	background-image: url("assets/icon-email.svg");
	background-repeat: no-repeat;
	background-position: right center;
}

footer a {
	display: block;
	padding: 18px;
	color: black;
	font-size: 1.2rem;
	text-align: center;
	text-decoration: none;
}

footer a:hover {
	text-decoration: underline;
}

.btn-menu {
	background-image: url("assets/icon-burger.svg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 40px;
	width: 42px;
	height: 42px;
	content: "";
	display: Block;
	position: absolute;
	top: 20px;
	right: 20px;
	display: none;
}

.btn-menu:hover {
	cursor: pointer;
}

@media all and (max-width: 740px) {
	header div:nth-child(1) {
		grid-row: 1;
		grid-column: 1/3;
		height: 390px;
	}

	header img {
		width: 60% !important;
		margin-left: auto;
		margin-right: auto;
	}

	header div:nth-child(1) img {
		width: 200px !important;
	}
	header div:nth-child(2),
	header div:nth-child(3) {
		aspect-ratio: 1 /1;
	}

	.btn-menu {
		display: block;
	}

	menu .menulinks {
		display: none;
	}
	.infogrid {
		grid-template-columns: 1fr;
	}

	.infogrid .button {
		float: none;
		margin-top: 30px;
	}
	.topinfo p {
		font-size: 14px;
		margin-bottom: 50px !important;
	}

	.topinfo h1 {
		font-size: 24px;
	}

	.topinfo h3 {
		font-size: 16px;
	}

	.topinfoimage,
	.topinfoimage2 {
		width: 240px;
		margin-right: auto;
		margin-left: auto;
		background-size: 126px;
	}

	.infogrid .info {
		text-align: center;
		padding-bottom: 80px;
	}

	.infogrid .topinfoimage {
		grid-row: 2/2;
	}

	.products {
		grid-template-columns: 1fr 1fr;
	}

	.topinfoimage2 {
		grid-row: 1;
		width: 240px;
		background-size: 94px !important;
		margin-bottom: 60px;
	}

	.infogrid .info {
		display: grid;
	}

	.btn-plantedplants {
		margin-left: auto;
		margin-right: auto;
		justify-self: center;
	}

	.products figure h4 {
		font-size: 14px;
	}
	.products figure .date,
	.products figure .by {
		font-size: 10px;
	}

	.products figure .btn-remove {
		margin-top: 0;
		justify-self: flex-end;
		background-image: url("assets/icon-trash.svg");
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: 16px;
		text-indent: -1000px;
		overflow: hidden;
		background-color: transparent;
		filter: invert(1);
		transition: rotate 0.3s ease-in-out;
		width: 16px;
	}

	.btn-remove:hover {
		rotate: 360deg;
	}

	.bottomgrid {
		height: auto;
		grid-template-columns: 1fr;
	}

	.bottomgrid .darken {
		height: 390px;
		grid-row: 2;
	}

	.bottomgrid .bottomlogo {
		display: grid;
		justify-content: center;
		align-items: center;
		height: 390px;
	}

	.infogrid .button {
		justify-self: center;
	}
}
